<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Arc-Reactor-Wallpapers-·①-WallpaperTag.png" class= "img-fluid" id="perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">GONZALO NICOLÁS RODRIGUEZ</p>
        <p>Me como a tu señora</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>ACERCA DE MI</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic porro ut eaque consectetur culpa, rerum illo, ducimus nostrum reiciendis a pariatur, autem aspernatur aperiam commodi sed tempora ullam laborum repellendus?</p>
        </span>
    </div>
</div>
